 html {
     height: 100%;
     font-family: sans-serif;
     background: #f7f8f9;
 }

 body {
     height: 80%;
 }
 a, a:visited, a:hover, a:active {
     color: #0074d9;
     text-decoration: none;
 }

 nav {
     margin: 3% 0 0;
 }

 h1 {
     font-size: 32px;
     text-align: center;
 }

 .menu li {
     background: #1c84c4 none repeat scroll 0 0;
     border-radius: 15px;
     display: inline-block;
     margin-right: 2%;
     padding: 5px 10px;
     width: 9%;
     font-weight: bold;
     text-align: center;
 }

 .menu li:hover {
     background: #4a95fc;
 }

 .menu a {
     color: white;
     text-decoration: none;
     font-size: 20px;
 }

 .menu {
     list-style: outside none none;
     margin: auto;
     text-align:center;
     width:95%;
 }

 section {
     margin: 4% auto 0;
     width: 40%;
 }

 .bg-img {
     height: 30%;
     background: url("img/airplane-bg.png") no-repeat;
     background-size: 30%;
     background-position: bottom center;
 }

 input, input:hover, input:focus  {
     margin-top: 10px;
     display: inline-block;
     width: 44%;
 }

 input:hover {
     border: 2px solid #1c84c4;
 }

 input:focus {
     border: 2px solid #1c84c4;
 }

 label {
     display: inline-block;
     width: 90px;
     text-align: right;
 }

 form {
     margin: 3% auto;
     width: 26%;
 }

 input[type="submit"], input[type="submit"]:active, input[type="submit"]:hover {
     display: block;
     margin: 4% auto 0;
     width: 35%;
     padding: 1%;
     border-radius: 5px;
     background: #3ded6f;
      border: none;
      color: white;
      font-weight: bold;
 }

input[type="submit"]:hover{
  background: #28c154;
}
input[type="submit"]:active{
  background: #1a9b3f;
}

 .dashboard-search, .search-results {
     width: 99%;
     margin: 0 auto;
 }

 .dashboard-search form {
     width: 100%;
 }

 .dashboard-search input {
     display: inline-block;
 }

 .dashboard-search input[type="submit"] {
     width: 30%;
     display: inline-block;
 }
 .dashboard-search input[type="submit"]:hover, .dashboard-search input[type="submit"]:active {
     width: 30%;
     display: inline-block;
 }

input[type="search"] {
     width: 68%;
 }

 table, td, th {
     border: 1px solid black;
     border-collapse: collapse;
 }

 table {
     width: 100%;
 }

 td {
     text-align: center;
 }

.delete-form input[type="submit"], .delete-form input[type="submit"]:hover{
  display: block;
  margin: 0 auto;
  width: 50%;
  background-color: #F63737;
  color: white;
  font-weight: bolder;
}

 .delete-form input[type="submit"]:hover {
     background-color: #d32828;
 }
.delete-form{
  width: 100%;

}
 .after-add-msg {
     display: block;
     text-align: center;
     margin: 41px 0 0;
     font-weight: bolder;
     text-transform: uppercase;
 }

 .success-added {
     color: green;
 }

 .error-added {
     color: red;
 }
